@import "../utils/variables";
@import "../utils/mixins";

body {
  width: 100%;
  font-family: "Roboto", sans-serif;
  margin: 0px;
  display: block;
}

a {
  text-decoration: none;
  color: #111111;
}
