@import "../utils/mixins";
@import "../utils/variables";

@keyframes loader {
  100% {
    background-color: $color3;
    visibility: hidden;
    opacity: 1;
  }

  50% {
    background-color: $background-color6;
    opacity: 1;
  }

  0% {
    background-color: $color4;
    opacity: 1;
  }
}

@keyframes child2 {
  0% {
    transform: translateX(-20px);
    z-index: 200;
  }
  50% {
    transform: translateX(20px);
  }
  100% {
    transform: translateX(-20px);
  }
}

@keyframes child4 {
  0% {
    transform: translateX(20px);
  }

  50% {
    transform: translateX(-20px);
  }

  100% {
    transform: translateX(20px);
    z-index: 200;
  }
}

@keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
