// Mes couleurs

$color1: #ffffff;
$color2: #9356dc;
$color3: #7e7e7e;
$color4: #131313;
$color5: transparent;
$color6: #111111;
$color7: #008766;
$color8: #ff79da;

$background-color1: #eaeaea;
$background-color2: #f6f6f6;
$background-color3: #9747ff;
$background-color4: #ffffff;
$background-color5: #99e2d0;
$background-color6: #353535;

$font-family_1: "Roboto", sans-serif;

$btnhover: (200.64deg, #9356dc -5.2%, #ff79da 110.74%),
  rgba(255, 255, 255, 0.15);
